<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BDlabs.Properties.Settings.bdlabsConnectionString"
            connectionString="Data Source=DESKTOP-DQG9F6H\SQLEXPRESS;Initial Catalog=bdlabs;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BDlabs.Properties.Settings.PlantsConnectionString"
            connectionString="Data Source=DESKTOP-DQG9F6H\SQLEXPRESS;Initial Catalog=Plants;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>